<div class="listView no_user_select" style="height: 100%">
	<div data-dojo-type="dijit/layout/BorderContainer" style="height: 100%" data-dojo-attach-point="borderContainerDijit" gutters="false">
		<div data-dojo-type="dijit/layout/ContentPane" class="listHead" data-dojo-attach-point="listHeadDijit" region="top"></div>
		<div data-dojo-type="dijit/layout/ContentPane" class="listChildren" data-dojo-attach-point="listChildrenDijit" region="center"></div>
        <div data-dojo-type="dijit/layout/ContentPane" class="listControlsPane thinBorder" region="bottom" data-dojo-attach-point="listControlsDijit">
            <div data-dojo-type="folio/list/ListControls"  data-dojo-attach-point="listControls"></div>
		</div>
	</div>
</div>