<div class="tree">
	<div dojoType="dijit.layout.BorderContainer" gutters="false" dojoAttachPoint="pinnedTreeDijit" style="height:100%">
		<div dojoType="dijit.layout.ContentPane" region="center">
			<div dojoAttachPoint="containerNode" style="height: 100%">
			</div>
		</div>
	</div>
	<div style="display: none" dojoAttachPoint="floatingTreeNode" class="expander thin-border">
		<div dojoAttachPoint="movableBlockNode" class="treeContainer">
			<div>
				<div>
					<div dojoAttachPoint="treeNode"></div>
					<img class="pushpin" dojoAttachPoint="pushpinNode"></img>
				</div>
			</div>
		</div>
	</div>
</div>