<div class="breadcrumbs">
  <div class="ownerBar distinctBackground" data-dojo-attach-point="principalInfoDijit" data-dojo-type="folio/navigation/PrincipalInfo" data-dojo-props="view: 'default'"></div>
  <div dojoAttachPoint="bcNode" class="bcNode">
  	<div style="float:left">
		<span dojoAttachPoint="showTreeNode" class="bicon"><span class="icon toggleTreeViewVisible" dojoAttachEvent="onclick: _toggleTree" title="Toggle tree visible"></span></span>
		<span class="iconSeparator distinctBackground"></span>
		<span dojoAttachPoint="listListModeNode" class="bicon distinctBackground"><span class="icon showListLikeList" dojoAttachEvent="onclick: _showListLikeList" title="Switch to list view"></span></span>
		<span dojoAttachPoint="iconListModeNode" class="bicon"><span class="icon showListLikeIcons" dojoAttachEvent="onclick: _showListLikeIcons" title="Switch to icon view"></span></span>
		<div class="listMode CLI" style="display: none;" dojoAttachPoint="CLIModeNode"></div>
	</div>
	<span dojoAttachPoint="breadcrumbs"></span>
  </div>
  <div dojoType="folio.navigation.CommandLine" region="center" dojoAttachPoint="CLIDijit" style="display: none;width:100%"></div>
</div>