<div class="commandLine">
	<div dojoType="dijit.layout.BorderContainer" gutters="false" dojoAttachPoint="CLILayoutDijit" design="headline" style="width: 100%;height:100%">
		<div dojoType="dijit.layout.ContentPane" style="height:2em" region="top">
			<div dojoType="dijit.form.TextBox" dojoAttachPoint="promptDijit" style="width:100%"></div>
		</div>
		<div dojoType="dijit.layout.ContentPane" region="center" dojoAttachPoint="resultDijit">
		</div>
    </div>
</div>