<div class="navigationBar">
    <a href="#view=start" class="logo"></a>
    <div class="appName" data-dojo-attach-point="appNameNode"></div>
    <div class="control icon" data-dojo-attach-event="onclick: _controlClicked"></div>
    <div class="controlMenu" style="display:none;" data-dojo-attach-point="controlMenuNode">
        <div class="controlMenuWheel">
            <div class="distinctThickBorder">
                <div class="control icon" data-dojo-attach-event="onclick: _controlClicked"></div>
            </div>
        </div>
        <div class="cosmetic"></div>
        <div class="controlMenuBody">
            <div class="distinctThickBorder">
                <div class="imageAndAlternativesBlock distinctThinBorder">
                    <div>
                        <div data-dojo-attach-point="profilePictureNode" class="profileImgNode distinctThinBorder">
                        </div>
                        <div class="alternativesNode">
                            <div data-dojo-attach-point="userBlock" class="userBlock">
                                <span class="label" data-dojo-attach-point="i18n">greeting</span>
                                <a class="link user" data-dojo-attach-point="i18n,userFieldNode">userField</a>
                            </div>
                            <div data-dojo-attach-point="profileLinkNodeWrapper" style="display: none">
                                <a class="link iconWrapper" data-dojo-attach-point="profileLinkNode">
                                    <span class="home icon"></span>
                                    <span data-dojo-attach-point="i18n">profileLink</span>
                                </a>
                            </div>
                            <div data-dojo-attach-point="homeLinkNodeWrapper" style="display: none">
                                <a class="link iconWrapper" data-dojo-attach-point="homeLinkNode">
                                    <span class="folder icon"></span>
                                    <span data-dojo-attach-point="i18n">homeLink</span>
                                </a>
                            </div>
                            <div data-dojo-attach-point="settingsLinkNodeWrapper" style="display: none">
                                <a class="link iconWrapper" data-dojo-attach-point="settingsNode">
                                    <span class="settings icon"></span>
                                    <span data-dojo-attach-point="i18n">settings</span>
                                </a>
                            </div>
                            <div style="display: none" data-dojo-attach-point="helpLinkSpan">
                                <a class="link iconWrapper" data-dojo-attach-point="helpLinkNode">
                                    <span class="help icon"></span>
                                    <span data-dojo-attach-point="i18n">helpLink</span>
                                </a>
                            </div>
                            <div style="display: none" data-dojo-attach-point="aboutLinkSpan">
                                <a class="link iconWrapper" data-dojo-attach-point="aboutLinkNode">
                                    <span class="info icon"></span>
                                    <span data-dojo-attach-point="i18n">aboutLink</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="signinAndLanguage">
                    <div class="languageBlock">
                        <span class="languageSelector"><span class="block label"><span data-dojo-attach-point="i18n">languageLabel</span>:&nbsp;&nbsp;
                        <select style="width: 10em; vertical-align: middle;" data-dojo-type="dijit/form/FilteringSelect" name="localeChanger" searchAttr="label" style="width: 10em;font-size: smaller;" autocomplete="true" data-dojo-attach-point="localeChanger"></select></span></span>
                    </div>
                    <div class="link menuloginLink iconWrapper" data-dojo-attach-point="loginStatusNode" data-dojo-attach-event="onclick:_loginLinkClicked">
                        <span class="security icon"></span>
                        <span data-dojo-attach-point="loginStatusNodeLabel"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="area1"><div style="display: table-cell;">
        <div class="searchField" data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="searchField" data-dojo-props="selectOnClick: true"></div>
        <span class="search icon" data-dojo-attach-point="searchButtonNode" data-dojo-attach-event="onclick:_searchClicked" style="vertical-align: middle; margin: 1px;"></span>
        <a data-dojo-attach-point="profileIconNode" class="home icon" style="vertical-align: middle; margin: 1px;display:none;"></a>
        <a data-dojo-attach-point="folderIconNode" class="folder icon" style="vertical-align: middle; margin: 1px;display:none;"></a>
        <button data-dojo-attach-point="signInIconNode" data-dojo-attach-event="onclick:_loginLinkClicked" class="signin" style="vertical-align: middle;">Sign in</button>
    </div></div>
    <div class="area3">
    </div>
    <div data-dojo-type="dojox/widget/Toaster"
         positionDirection="br-left" duration="0"
         messageTopic="dialogMessages"></div>
    <div data-dojo-type="dojox/widget/Toaster"
         separator="&lt;hr&gt;" positionDirection="bl-up"
         messageTopic="notifyMessages"></div>
</div>