<div class="principalInfo">
	<div class="principalInfoWrapper">
		<div class="principalPicture" dojoAttachPoint="principalPictureNode"></div>
		<div class="principalInfoText">
			<h1>
				<span dojoAttachPoint="principalNameNode"></span>
				<span dojoAttachPoint="principalIconsNode"></span>
				<span dojoAttachPoint="homeContextQuotaNode"></span>
				<span dojoAttachPoint="addToContactsButtonDijit"></span>
				<div class="contactinfo">
					<a dojoAttachPoint="emailNode" target="_blank" style="display:none">Email</a>
					<a dojoAttachPoint="homepageNode" target="_blank" style="display:none">Homepage</a>
				</div>
			</h1>
			<p class="principalDescription" dojoAttachPoint="principalDescriptionNode"></p>
		</div>
	</div>
</div>