<div style="overflow: hidden" class="confolio account">
    <div class="openidSignup distinctBackground" data-dojo-attach-point="openidSignup">
        <h2 data-dojo-attach-point="i18n">signupInfo</h2>
        <div data-dojo-attach-point="signupProviders" class="openIdProviders"></div>
    </div>
</div>