<div style="overflow: hidden" class="confolio signup">
	<div dojoType="dijit.layout.BorderContainer" gutters="true" style="height: 100%" dojoAttachPoint="bc" gutters="false" design="sidebar">
		<div dojoType="dijit.layout.ContentPane" class="message" region="right" style="width: 50%" splitter="false">
			<p>In order to sign up to the Hematology Confolio system you must agree to the following general terms of use:</p>
			<p>I agree not to upload or link to material that is pornographic, ethnically discriminating, 
			or in violation of the medical code of ethics. I also agree not to create annotations 
			- or post comments - of these types on any items that have been uploaded into the Hematology Confolio system 
			- either by myself or by other users. I am aware that on violation of this code of ethics, 
			the EHA has the right to terminate my use of the Hematology Confolio system.</p>

			<div dojoType="dijit.form.CheckBox"></div><span>I agree</span>
		</div>
		<div dojoType="dijit.layout.ContentPane" dojoAttachPoint="contentDijit" class="signupForm" region="center">
			<div dojoType="folio.admin.NewUser"></div>
		</div>
	</div>
</div>