<div class="choiceSearch" style="position:relative">
    <div style="position: absolute;top: 0px; left: 0px; right: 0px; bottom: 30px;">
        <div data-dojo-type="folio/search/Search" data-dojo-attach-point="search"></div>
    </div>
    <div style="position: absolute;height: 30px; left: 0px; right: 0px; bottom: 0px;">
        <div style="float: right;" data-dojo-attach-point="i18n,chooseButton" data-dojo-attach-event="onClick: _choose" data-dojo-type="dijit/form/Button" data-dojo-props="disabled: true">choose</div>
        <div style="float: right;" data-dojo-attach-point="i18n" data-dojo-attach-event="onClick: _cancel" data-dojo-type="dijit/form/Button">cancel</div>
        <div class="choosenInfo">
            <span>Original choice: </span>
            <div data-dojo-attach-point="originalChoiceNode" class="choiceValue entryScape_selected">-</div>
            <span>New choice: </span>
            <div data-dojo-attach-point="newChoiceNode" class="choiceValue entryScape_selected">-</div>
        </div>
    </div>
</div>
