<div class="searchDetails" style="margin-top:-2.2em">

	<div class="groupHeader distinctBackground"><span dojoAttachPoint="searchInLabelNode"></span>:</div>
	<div class="group thinBorder">
			<div dojoType="dijit.form.RadioButton" id="${id}_all" dojoAttachPoint="allPortfoliosDijit" name="${id}_inPortfolio" dojoAttachEvent="onChange:_searchFormChangedRadio" checked="true"></div>
			<label for="${id}_all" dojoAttachPoint="allPortfoliosLabelNode"></label><br>
			<span dojoAttachPoint="myPortfolioRowNode" style="display: none;">
			<div dojoType="dijit.form.RadioButton" id="${id}_my" dojoAttachPoint="myPortfolioDijit" name="${id}_inPortfolio" dojoAttachEvent="onChange:_searchFormChangedRadio"></div>
			<label for="${id}_my" dojoAttachPoint="myPortfolioLabelNode"></label><br></span>
			<div dojoType="dijit.form.RadioButton" id="${id}_specific" dojoAttachPoint="specificPortfolioDijit" name="${id}_inPortfolio" dojoAttachEvent="onChange:_searchFormChangedRadio"></div>
			<label for="${id}_specific" dojoAttachPoint="specificPortfolioLabelNode"></label>:&nbsp;&nbsp;
			<select dojoType="dijit.form.FilteringSelect" searchAttr="label" dojoAttachEvent="onChange:onChange" disabled="true"
			style="width: 10em;font-size: smaller;vertical-align: middle;" autocomplete="true" dojoAttachPoint="specficPortfolioChangerDijit" id="${id}_portfolioChanger"></select><br>
	</div>
	<div>
		<div class="groupHeader distinctBackground"><span dojoAttachPoint="includeLTLabelNode"></span>:</div>
		<div class="group thinBorder">
			<span dojoType="dijit.form.CheckBox" id="${id}_lt_local" dojoAttachPoint="includeLTLocalDijit" dojoAttachEvent="onChange:onChange" checked="true"></span>
			<label for="${id}_lt_local" dojoAttachPoint="includeLTLocalLabelNode"></label><br>
			<span dojoType="dijit.form.CheckBox" id="${id}_lt_link" dojoAttachPoint="includeLTLinkDijit" dojoAttachEvent="onChange:onChange" checked="true"></span>
			<label for="${id}_lt_link" dojoAttachPoint="includeLTLinkLabelNode"></label><br>
			<span dojoType="dijit.form.CheckBox" id="${id}_lt_reference" dojoAttachPoint="includeLTReferenceDijit" dojoAttachEvent="onChange:onChange" checked="true"></span>
			<label for="${id}_lt_reference" dojoAttachPoint="includeLTReferenceLabelNode"></label><br>
			<span dojoType="dijit.form.CheckBox" id="${id}_lt_linkreference" dojoAttachPoint="includeLTLinkReferenceDijit" dojoAttachEvent="onChange:onChange" checked="true"></span>
			<label for="${id}_lt_linkreference" dojoAttachPoint="includeLTLinkReferenceLabelNode"></label><br>
		</div>
		
		<div class="groupHeader distinctBackground"><span dojoAttachPoint="includeBTLabelNode"></span>:</div>
		<div class="group thinBorder">
			<span dojoType="dijit.form.CheckBox" id="${id}_bt_context" dojoAttachPoint="includeBTContextDijit" dojoAttachEvent="onChange:onChange" checked="true"></span>
			<label for="${id}_bt_context" dojoAttachPoint="includeBTContextLabelNode"></label><br>
			<span dojoType="dijit.form.CheckBox" id="${id}_bt_list" dojoAttachPoint="includeBTListDijit" dojoAttachEvent="onChange:onChange" checked="true"></span>
			<label for="${id}_bt_list" dojoAttachPoint="includeBTListLabelNode"></label><br>
			<span dojoType="dijit.form.CheckBox" id="${id}_bt_user" dojoAttachPoint="includeBTUserDijit" dojoAttachEvent="onChange:onChange" checked="false"></span>
			<label for="${id}_bt_user" dojoAttachPoint="includeBTUserLabelNode"></label><br>
			<span dojoType="dijit.form.CheckBox" id="${id}_bt_group" dojoAttachPoint="includeBTGroupDijit" dojoAttachEvent="onChange:onChange" checked="false"></span>
			<label for="${id}_bt_group" dojoAttachPoint="includeBTGroupLabelNode"></label><br>
			<span dojoType="dijit.form.CheckBox" id="${id}_bt_string" dojoAttachPoint="includeBTStringDijit" dojoAttachEvent="onChange:onChange" checked="true"></span>
			<label for="${id}_bt_string" dojoAttachPoint="includeBTStringLabelNode"></label><br>
			<span dojoType="dijit.form.CheckBox" id="${id}_bt_none" dojoAttachPoint="includeBTNoneDijit" dojoAttachEvent="onChange:onChange" checked="true"></span>
			<label for="${id}_bt_none" dojoAttachPoint="includeBTNoneLabelNode"></label><br>
		</div>
	</div>
	
	<div class="groupHeader distinctBackground"><span dojoAttachPoint="sortByLabelNode"></span>:</div>
	<div class="group thinBorder">
			<label for="${id}_sortChanger" dojoAttachPoint="sortChangerLabelNode"></label>:&nbsp;
			<select dojoType="dijit.form.FilteringSelect" searchAttr="label"
			style="width: 10em;font-size: smaller;vertical-align: middle;" autocomplete="true" dojoAttachPoint="sortChangerDijit" id="${id}_sortChanger"></select><br>
			<div dojoType="dijit.form.RadioButton" id="${id}_ascending" dojoAttachPoint="ascendingDijit" name="${id}_sortingOrder" dojoAttachEvent="onChange:_searchFormChangedRadio" checked="true"></div>
			<label for="${id}_ascending" dojoAttachPoint="ascendingLabelNode"></label>&nbsp;&nbsp;&nbsp;&nbsp;
			<div dojoType="dijit.form.RadioButton" id="${id}_descending" dojoAttachPoint="descendingDijit" name="${id}_sortingOrder" dojoAttachEvent="onChange:_searchFormChangedRadio"></div>
			<label for="${id}_descending" dojoAttachPoint="descendingLabelNode"></label>						
	</div>
</div>