<div style="overflow: hidden" class="confolio search column1">
	<div style="position: relative: width: 100%;height:100%">
		<div class="roundHeader largerText distinctThickBorder" style="position: absolute;top:0em;left:2em;right:2em;height:1.8em;">
			<div dojoType="dijit.form.TextBox" dojoAttachPoint="searchBoxDijit"></div>
			<div dojoAttachPoint="searchButtonNode"></div>
			<div dojoAttachPoint="advancedButtonNode"></div>
			<div class="resultCounter" dojoAttachPoint="resultCountNode" style="margin-top: 0.7em;margin-right:1em"></div>
		</div>
		<div dojoAttachPoint="_searchDetailsContainer" class="distinctBackground" style="display:none;position:absolute;height:auto;left:3em;right:3em;top:4.1em;overflow-y:auto;z-index:5;padding: 1em;padding-top:0px;">
		</div>
		<div  dojoType="dijit.layout.BorderContainer" dojoAttachPoint="bc" gutters="false" style="position: absolute;bottom:0.3em;left:3em;right:3em;top:5em;">
			<div dojoType="dijit.layout.ContentPane" region="center">
				<div dojoAttachPoint="_searchResultsContainer"></div>
			</div>
		</div>
	</div>
</div>