<div style="height: 100%; width: 100%;">
		<table style="width: 100%" border="0"><tbody>
		<tr class="aliasRow"><td  style="width: 20%"><label dojoAttachPoint="aliasLabel">Alias: </label></td>
			<td  style="width: 80%"><input type="text" style="width: 100%" 
			name="aliasField" dojoAttachPoint="aliasField" dojoType="dijit.form.TextBox" 
			trim="true" propercase="false"/></td>
		</tr>
		<tr class="aliasRow"><td  colspan="2" dojoAttachPoint="aliasMessage" style="width: 20%"></td>
		</tr>
		</tbody>
		
	<div style="float:right;white-space: nowrap;">
		<div dojoType="dijit.form.Button" dojoAttachEvent="onClick:tryChangeClicked">Try change</div>
		<div dojoType="dijit.form.Button" dojoAttachEvent="onClick:doneClicked">Done</div>
	</div>		
</div>