<div>
  <div dojoType="dijit.layout.BorderContainer" dojoAttachPoint="bc" style="height: 100%" gutters="false">        
  	 <div dojoType="dijit.layout.ContentPane" class="editTabEditStateButtons" region='top' style="height: 1.7em;">
		<span style="float: right;"><input type="text" name="optional" dojoType="dijit.form.CheckBox"
			dojoAttachEvent="onChange:editStateColorChange"/>&nbsp;<span dojoAttachPoint="colorLabelNode"></span>&nbsp;</span>
		&nbsp;&nbsp;&nbsp;<input type="text" name="mandatory" checked="true" disabled="true" 
			dojoType="dijit.form.CheckBox"/>&nbsp;<span dojoAttachPoint="mandatoryLabelNode" class="mandatory"></span>&nbsp;&nbsp;&nbsp;
		&nbsp;<input type="text" name="mandatory" checked="true" dojoType="dijit.form.CheckBox" 
			dojoAttachPoint="recommendedCheckBox" dojoAttachEvent="onChange:recommendedChange"/>&nbsp;<span dojoAttachPoint="recommendedLabelNode" class="recommended"></span>&nbsp;&nbsp;&nbsp;
		&nbsp;<input type="text" name="optional" dojoType="dijit.form.CheckBox" 
			dojoAttachPoint="optionalCheckBox" dojoAttachEvent="onChange:optionalChange"/>&nbsp;<span dojoAttachPoint="optionalLabelNode" class="optional"></span>
	</div>
 	<div dojoType="dijit.layout.ContentPane" dojoAttachPoint="shameCP" region='center' style='overflow: auto'>
	   <div dojoAttachPoint="rformsEditorNode"></div>
 	</div>
  	<div dojoType="dijit.layout.ContentPane" region='bottom'>
  	 	<div style="margin-top: 4px;">
			<div style="float:right" dojoAttachEvent="onClick: donePressed" dojoType="dojox.form.BusyButton" busyLabel="" dojoAttachPoint="dialogDone"></div>
			<div style="float:right" dojoAttachEvent="onClick: doneEditing" dojoType="dijit.form.Button" dojoAttachPoint="dialogCancel"></div>
			<div style="float:right;padding:5px 5px 0 0" dojoType="dijit.layout.ContentPane" dojoAttachPoint="warningArea"> </div>	
		</div>
  	</div>
  </div>
</div>