<div style="overflow: hidden" class="confolio">
	<div dojoType="dijit.layout.BorderContainer" dojoAttachPoint="bc" region="center" gutters="false" class="confolioPanel" style="height:300px">
		<div dojoType="dijit.layout.ContentPane" gutters="false" region="center" class="mainPanel">
			<div dojoType="folio.create.LinkTo" dojoAttachPoint="linkToDijit"></div>
		</div>
		<div dojoType="dijit.layout.ContentPane" gutters="false" region="bottom" class="bookmarkButtons">
			<div dojoType="dijit.form.Button" label="Save" dojoAttachEvent="_saveClicked"></div>
		</div>
	</div>
</div>