@import "../../../lib/dojo-src/dijit/themes/claro/claro.css"; /* required when dijit */
@import "../../../lib/dojo-src/dojo/resources/dojo.css";
@import "../../../lib/dojo-src/dojox/image/resources/image.css"; /*some problem in this css file*/
@import "../../../lib/dojo-src/dojox/form/resources/FileInput.css"; /*some problem in this css file*/
@import "../../../lib/dojo-src/dojox/layout/resources/ExpandoPane.css"; 
@import "../../../lib/dojo-src/dojox/form/resources/BusyButton.css";
@import "../../../lib/dojo-src/dojox/form/resources/RangeSlider.css";
@import "../../../lib/dojo-src/dojox/grid/resources/claroGrid.css";
@import "../../../lib/dojo-src/dojox/editor/plugins/resources/css/Save.css";
@import "../../../lib/dojo-src/dojox/editor/plugins/resources/css/Preview.css";
@import "../../../lib/dojo-src/dojox/editor/plugins/resources/css/ShowBlockNodes.css";
@import "../../../lib/dojo-src/dojox/editor/plugins/resources/css/InsertEntity.css";
@import "../../../lib/dojo-src/dojox/editor/plugins/resources/css/PageBreak.css";
@import "../../../lib/dojo-src/dojox/editor/plugins/resources/css/Breadcrumb.css";
@import "../../../lib/dojo-src/dojox/editor/plugins/resources/css/FindReplace.css";
@import "../../../lib/dojo-src/dojox/widget/Toaster/Toaster.css";

@import "../../rforms/view/resources/rforms.css";

@import "../create/create.css";
@import "../list/list.css";
@import "../comment/comment.css";
@import "../navigation/navigation.css";
@import "../profile/profile.css";
@import "../start/start.css";
@import "../settings/settings.css";
@import "../entry/details.css";
@import "../search/search.css";
@import "../view/view.css";
@import "../security/security.css";
@import "../execute/execute.css";


html, body {
	background: #fff;
	color: #000;
	height: 100%;
	overflow-y: hidden;
}

.siteMap {
	position: relative;
	height: 100%;
}

.siteMap .viewControllerWrapper {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 40px;
}

.siteMap .viewMapWrapper {
	position: absolute;
	top: 40px;
	left: 0px;
	width: 100%;
	bottom: 0px;
}


/* ============= Really small displays ============= */
@media (max-width: 500px) {
	body {
		padding: 0px;
	}
	.navigationBar .appName {
		display: none;
	}
	.navigationBar .searchField {
		width: 160px;
	}
	.viewMap {
		width: auto;
	}
	.viewController {
		width: auto !important;
		top: 0px;
		left: 0px;
		right: 0px;
		position: fixed;
	}
}
	
/* ============= Small displays ==================== */
@media (max-width: 767px) and (min-width: 500px){
	body {
		padding-right: 20px;
		padding-left: 20px;
	}
	.viewMap {
		width: auto;
	}
	.viewController {
		width: auto !important;
		top: 0px;
		left: 0px;
		right: 0px;
		position: fixed;
	}
}

/* ============ Medium displays ==================== */
@media (max-width: 979px) and (min-width: 768px) {
	.viewMap, .viewController {
		width: 724px;
		max-width: 100%;
	}
}
/* ============ Medium large displays ==================== */
@media (min-width: 980px) and (max-width: 1199px) {
	.viewMap, .viewController {
		width: 940px;
		max-width: 100%;
	}
}


/* ============ Large displays ======================= */
@media (min-width: 1200px) {
	.viewMap, .viewController {
		width: 1170px;
		max-width: 100%;
	}
}

.viewMap, .viewController {
	margin-left: auto;
	margin-right: auto;
}

.simpleFolio {
	width: 100%;
	height: 100%;
}

.confolio {
	height: 100%;
}

.mainPanel {
	margin: 5px;
	margin-top: 0px;
}
.confolioPanel {
	width: 100%;
	height: 100%;
}

.folioTreeLabelSelected {
	padding-left: 3px;  
	padding-right: 3px;
	border-width: 1px !important;  
}

a, .link {
	cursor: pointer;
	color: #000;
}

a:hover, .link:hover {
	text-decoration: underline;
}

/*------------Splash-----------------------*/
#splash {
	z-index: 100;
	width: 100%;
	height: 100%;
	position: absolute;
	background: white;
	text-align: center;
}
#splash .loadingIcon {
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
}

/*--------------Overview-----------------*/
.dojoxExpandoPane .contextSelect {
	width:80%;
	font-weight: normal;
}

.iconOverview {
	overflow: auto;
}

.iconOverview a {
	float:left;
	padding-right: 8px;
	padding-left: 8px;
	padding-top: 3px;
	border: 1px solid transparent;
	margin-bottom: 5px;
	position: relative;
	display: inline-block;
}

.iconOverview a img {
	width: 60px;
}

/*
.tundra .overView .dijitTabPaneWrapper {
	border-width: 0px;
}
.tundra .dijitInputField input,
.tundra .dijitTextBox,
.tundra .dijitComboBox,
.tundra .dijitSpinner {
	margin: 0;
}*/

.annotationprofileeditor .editTab {
	border-width: 1px;
	border-style: solid;
	border-left-width: 0px;
}

.annotationprofileeditor .editTabEditStateButtons {
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

/*  Pagination */
.pagination {
	text-align: center;
	padding-bottom: 2px;
}
.pagination .pagStart,
.pagination .pagPrev,
.pagination .pagNext,
.pagination .pagEnd {
	cursor:pointer;
	text-decoration:underline;
}

.pagination .pagPages span {
	cursor:pointer;
	text-decoration:underline;
}

.pagination.atStart .pagStart,
.pagination.atStart .pagPrev,
.pagination.atEnd .pagNext,
.pagination.atEnd .pagEnd,
.pagination .pagPages span.selectedPage,
.pagination.unknownSize .pagEnd {
	cursor:none;
	text-decoration:none;
}


/*.dijitTabContainerBottom-container, 
.dijitTabContainerTop-container, 
.dijitTabContainerLeft-container, 
.dijitTabContainerRight-container{
	overflow: auto;	
}*/

.claro .confolio .dijitContentPane {
    padding: 0px;
}

/* Insert content of arrow button here explicity or button will not be shown in Opera
 (when that bug has been fixed in dojo, the following should be removed)
.dijitArrowButton {
	content: "▼"; vertical-align: middle;
}*/

/* Ensure proper positioning for the application (needed in Opera) */
.confolioPanel {
	float: left;
}

/* Tree */
.tree .expander {
	position: absolute;
	z-index: 200;
	top: 0;
	background: white;
	overflow-y: auto;
	border-right-style: solid;
	border-right-width: 1px;
	display: inline-block;
}

.tree .treeContainer {
	padding: 7px;
}

.tree .pinnedNode {
	width: 100%;
	height: 100%;
	overflow: auto;
}
.tree .treeContainer>*>*>* {
	display: table-cell;
}
.tree .treeContainer>*>* {
	display: table-row;
}
.tree .treeContainer>* {
	display: table;
	width: 100%;
}

.tree .expander .pushpin {
	width: 22px;
}

/* ViewMap */

.viewMap .inline {
	display: inline-block;
}

.viewMap .breadCrumbs .view {
	text-decoration: underline;
	cursor: default;
}
.viewMap .breadCrumbs .view.current {
	text-decoration: none;
}
.viewMap .breadCrumbs .separator {
	padding-right: 0.3em;
	padding-left: 0.3em;
}

.viewMap.widescreen {
	height: 100%;
}

/*----------------- Startpage------------------*/
.start .greeting {
	display: inline-block;
	background: white;
}
.start .greeting h1 {
	font-size: xx-large;
	width: 100%;
	text-align: center;
	padding: 0px;
	margin: 0px;
}
.start .greeting p {
	font-size: larger;
	margin-bottom: 0.3em;
}

.start .startButtons {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	white-space: nowrap;
	height:40px;
}

.start a.startButton:first-child {
	margin-right: 2em;
}

.start a.startButton {
	display:inline-block;
	position: relative;
	text-decoration: none;
}

.start .startButton {
	width: 10em;
	height:auto;
}
.start .startButton>span {
	-moz-border-radius: 10px 10px 10px 10px;
	background-color:#00CC00;
	font-size: large;
	position: absolute;
	z-index: 100;
	width: 100px;
	height: 25px;
	top: 8px;
	left: 0px;
	text-align: center;
}

.confolio .largerText.searchField {
	color: black;
}

.start .search,
.start .greeting,
.start .latestMaterial {
	margin: 0px;
	padding: 20px;
	background: white;
}
.start .greeting {
	margin-bottom: 0px;
	padding: 3em;
}

.start .latestMaterial {
	margin-left: 0px;
}

.start .roundHeader .searchField {
	width: 9em;
}

.start .latestMaterial {
	width: 50%;
}

.start .includes {
	margin-left: 1em;
}

.start .includes label {
	margin-right: 0.3em;
}

/*------Help view--------------------------*/
.confolio.help {
	font-size: larger;
}

.confolio.help .helpOverview {
	margin: 1em;
}

.confolio.help .helpContent {
	padding-left: 2em;
	padding-right: 2em;
}


/*------IconTitleRow, used in start, userProfile and groupProfile-------------*/
.confolio .iconTitleRow {
	margin-left: 0.3em;
	margin-bottom: 0.3em;
}
.confolio .iconTitleRow img {
	width: 24px;
	height: auto;
}
.confolio .iconTitleRow a {
	display: inline-block;
	vertical-align: top;
	margin-top: 0.6em;
	margin-left: 0.4em;
}

.confolio .roundPane {
	margin: 0px;
	padding: 20px;
	background: white;
}

.confolio .roundPane.noLeftMargin {
	margin-left: 0px;
}
.confolio .roundHeader {
	border-bottom-style: solid;
	padding: 3px;
	padding-left: 15px;
	margin-bottom: 3px;
	margin-top: 1em;
}

.confolio .largerText {
	font-size:larger;	
	font-weight: bold;
	vertical-align: middle;
}

.confolio .invertedText {
}
.confolio .roundBody {
	margin-left: 15px;
	margin-right: 5px;
}

.confolio .group {
	position: relative;
	padding: 0.5em;
	border-width: 1px;
	border-style: solid;
	padding-left: 0.8em;
	padding-top: 0.8em;
	margin-top: 1.4em;
/*	margin-left: -0.7em;*/
	overflow-x: auto;
}
.confolio .groupHeader {
	position: relative;
	display:inline;
	z-index: 100;
	top: +1.9em;
	left: 0.5em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	margin-left: 0.5em;
	font-weight: bold;
}

/* ----------Temporary fix for signup------------------*/
.signup {
	font-size: large;
}

.signup .signupForm,
.signup .message {
	margin-left: auto;
	margin-right: auto;
	padding: 2em;
}

.signup .reqfield {
	color: red;	
}

.signup .infoheader {
	padding: 3px;
	font-size:1.3em;
	background: #d8dee5;
}

.signup .infoheader td {
	padding: 3px;
}
	
.signup .inforow td {
	padding: 1px;	
}

.signup .buttonrow td {
	padding-bottom: 6px;
}

.signup .error {
	font-size: 0.8em;
	color: red;
}

/*-------------------Chooser for rforms---------------*/
.rforms.chooser .searchField {
	width: 95%;
	padding-left: 0%;
	margin-top: 10px;
	font-size: medium;
	margin-bottom: 10px;
}


/*-------------Card design, used in several places---------*/

.card {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    padding: 10px;
    margin-bottom: 20px;
    width: 86px;
    display: inline-block;
    margin-left: 4px;
    margin-right: 3px;
    height: 145px;
    vertical-align: top;
    position: relative;
    text-align: center;
}

.card:hover {
    background: lightgrey;
    cursor: pointer;
}

.card .navIcons {
    display: none;
    position: absolute;
    bottom: 0px;
    width: 80px;
    border-top: 1px solid grey;
    background: lightgrey;
}
.card:hover .navIcons {
    display: block;
}
.confolio .card .img-wrap,
.confolio .card .principalPicture {
    position: relative;
    vertical-align: middle;
    display: table-cell;
}

.card .img-wrap,
.confolio .principalPicture {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 2px;
    left: 0px;
    padding: 2px;
    background-color: white;
    border: 1px solid lightgrey;
    line-height: 0px;
}

.card .img-wrap img,
.confolio .principalPicture img{
    max-width: 80px;
    max-height: 80px;
    display: block;
    margin: 0 auto;
}

.confolio .card>span {
    margin-top: 5px;
    display: block;
}