<div>
	<div dojoType="dijit.layout.BorderContainer" dojoAttachPoint="bc" gutters="false" style="width: 100%; height: 100%" splitter="true">
			<div dojoType="dojox.layout.ExpandoPane" class="expandableHeader" dojoAttachPoint="labelPane" style="width: 100%; height: 40%" region="top" startExpanded="false">
				<div dojoType="dijit.layout.BorderContainer" class="expandableHeaderContent" gutters="false" style="width: 100%; height: 100%">
			<div dojoType="dijit.layout.ContentPane" region="left" style="width:150px;">
				<div dojoAttachPoint="iconDiv"></div>
				<div dojoAttachPoint="licenseDiv"></div>
				<div style="float: right" dojoAttachPoint="linkDiv"></div>
			</div>
			<div dojoType="dijit.layout.ContentPane" region="center">
			  <div class="shameDiv">
				<div dojoAttachPoint="extInfoPaneNode" class="extInfoPane">
					<div dojoType="folio.editor.AnnotationProfilePresenter" dojoAttachPoint="extShame"></div>
				</div>
				<div dojoAttachPoint="locInfoPaneNode" class="locInfoPane">
					<div dojoType="folio.editor.AnnotationProfilePresenter" dojoAttachPoint="locShame"></div>
				</div>
			  </div>
			</div>
			</div>
			</div>
			<div dojoType="dijit.layout.StackContainer" dojoAttachPoint="stackView" splitter="true" region="center">
				<div dojoType="folio.simple.List" headLess="true" dojoAttachPoint="listView" id="listView"></div>
				<div dojoType="dijit.layout.ContentPane" style="height: 100%" dojoAttachPoint="contentPaneView"></div>
			</div>
	</div>
</div>