<div class="confolio convert">
    <div class="searchBlock distinctBackground">
        <div class="searchPipelines">
            <label data-dojo-attach-point="i18n">pipelineSearchLabel</label>
            <div data-dojo-type="dijit/form/TextBox" data-dojo-attach-event="onChange: _pipelineSearchChange" data-dojo-props="intermediateChanges: true" data-dojo-attach-point="pipelineSearch"></div>
        </div>
    </div>
    <div class="pipelinesBlockWrapper">
        <div class="pipelinesBlock" data-dojo-attach-point="pipelineBlock"></div>
    </div>
</div>