<div class="createMenuWrapper">
    <div class="createMenuBackground" data-dojo-attach-point="moveMeToTopB" style="display: none;"></div>
    <div class="createMenu" data-dojo-attach-point="moveMeToTop" style="display: none;">
        <div class="icon24 new"></div>
        <div class="distinctThickBorder">
            <div class="icon24 text" title="Create a text document"></div>
            <div class="icon24 folder" title="Create a Folder"></div>
            <div class="icon24 upload" title="Upload a file"></div>
            <div class="icon24 link" title="Create a link"></div>
            <div class="icon24 artifact" title="Create an artifact"></div>
        </div>
    </div>
</div>