.confolio.startPage .startHeader {
	padding: 35px 80px 20px 80px;
	height: 120px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
-moz-border-bottom-right-radius: 6px;
	-moz-border-bottom-right-radius: 6px;
border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.confolio.startPage .startMessage {
	display: inline-block;
	vertical-align: top;
	padding: 0px 20px;
	height: 100%;
}
.confolio.startPage .startMessage h1 {
	margin: 0px;
	padding: 0px;
	font-size: 30px;
	font-weight: bold;
	color: #333;
}

.confolio.startPage .startMessage .startDescription {
	font-size: medium;
	margin: 5px 0px;
    margin-top: -10px;
}

.confolio.startPage .startMiddle {
	position: absolute;
	top: 175px;
	left: 0px;
	bottom:0px;
	width: 100%;
}
.confolio.startPage .startContent {
	position: absolute;
	top: 80px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow-y: auto;
}

.confolio.startPage .searchArea {
	float: right;
	margin: 40px 10px 10px 0px;
}

.confolio.startPage button {
	border-width: 0px;
	text-decoration: none;
	padding: 10px 15px 10px;
	text-shadow: 0 1px 0 white;
	margin: 30px 10px 10px 0px;
	color: #555;
	background-color: transparent;
	cursor: pointer;
}

.confolio.startPage button:hover {
	color: black;
}

.confolio.startPage button.selected:hover {
	color: #555;
}

.confolio.startPage button.selected {	
	background-color: #E5E5E5;
	-webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
	-moz-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
	box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

.confolio.startPage .startMessage img {
    float: left;
    width: 160px;
    margin-top: -30px;

}

.startDescription {
    padding-left: 10em;
}

.startDescription ul {
    list-style-type: square;
    line-height: 1em;
}