@import url("../../icons/icons.css");

.viewController .navigationBar {
	position: relative;
}

.viewController, .viewControllerWrapper {
	background: black;
}

/* ===========Brighten icons in navigationbar since they are on black background now.=======*/
.siteMap .viewController .icon {
    opacity:0.85;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=85)";
    filter:alpha(opacity=85);
}

.siteMap .viewController .icon:hover {
    opacity:1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=100)";
    filter:alpha(opacity=100);
    zoom:1
}


/*Logo should be < 240x60*/
.loginDialog .logo {
	background:transparent url('logo.png') no-repeat top left;
}

.navigationBar .logo {
	background:transparent url('logo-small.png') no-repeat top left;
}

.navigationBar .appName {
	color: white;
}

.navigationBar .appSentence {
	left: 95px;
	color: white;
}


.navigationBar .appName:after, .loginDialog .appName:after {
	content: "EntryScape";
}

.navigationBar .appSentence:after {
	content: "Organize and share your online content";
}

/* Generic approach for themes*/
.confolio.search.column1 .groupHeader,
.distinctBackground {
	background: #EEE;
}

.rforms.rformsEditor .rformsTopLevel {
	background: transparent;
}

.distinctThickBorder {
	border-color: #EEE;
	border-width: 5px;
}
.distinctThinBorder {
	border-color: #EEE;
	border-width: 1px;
}

.thinBorder {
	border-color: lightgrey;
	border-width: 1px;
}
.thickBorder {
	border-color: lightgrey;
	border-width: 5px;
}
/* Generic approach end*/

.navigationBar .label, .navigationBar .link {
	color: grey;
}
.navigationBar .dijit {
	color: black;
}
.confolio {
	background: white;
}

/* Loading icon used in splash*/
.loadingIcon {	
	width: 32px;height: 32px;
	background:transparent url('../blueish/blueish.gif') no-repeat top left;
}

/*Skelleton*/
.mainPanel .dijitSplitterV, .mainPanel .dijitSplitterH,
.confolioPanel {
	background: #EEE;
}

/* Borders*/
.iconOverview a.selected,
.annotationprofileeditor .editTab,
.annotationprofileeditor .editTabEditStateButtons,
.breadcrumbs .crumb,
.breadcrumbs .listMode,
.breadcrumbs,
.listChildren .iconView.selected {
	border-color: #EEE;	
}

/*Background*/
.mainPanel,
.shamePresentationMode .shameValue {
	background: white;
}


/*Selection*/
.entryScape .entryScape_selected,
.cleanList.listView .selected,
.folioTreeLabelSelected,
.iconOverview a.selected,
.breadcrumbs .crumb .label.selected,
.breadcrumbs .listMode.selected,
.breadcrumbs .crumb .choices.pressed,
.listChildren .iconView.selected,
.confolio .rforms .topLevel {
	background: #EEEE98; /* #FAFAD2  lightGoldenrodYellow*/
}

.listView .listHead,
.listView .listChildren *,
.details *,
.listView .butsCls *,
.folioTreeLabelSelected,
.shameRoot {
	border-color: lightgrey;
	border-style: solid;
	border-width: 0px;
}

.listView .listHead,
.listView .listControls,
.details .top .resourceSpace,
.details .top .url,
.details .center .bottom {
	background: #EEE;
}

.details .center .extInfoPane > div:first-child, /*first-child selectors separate because of ie6*/
.details .center .locInfoPane > div:first-child {
	background: lightgrey;
}

/* == Override dojo Claro theme ==*/
.claro .dijitDialogTitleBar {
    background-color: #EEE;
}

/*
.claro .dijitButton .dijitButtonNode, .claro .dijitDropDownButton .dijitButtonNode, .claro .dijitComboButton .dijitButtonNode, .claro .dijitToggleButton .dijitButtonNode {
    background-color: #d3d3d3;
}

.claro .dijitButtonHover .dijitButtonNode, .claro .dijitDropDownButtonHover .dijitButtonNode, .claro .dijitComboButton .dijitButtonNodeHover,
.claro .dijitComboButton .dijitDownArrowButtonHover, .claro .dijitToggleButtonHover .dijitButtonNode {
  background-color: darkgrey;
} */




/* == RForms style  ==*/

.editStateColor .missing .shameLabel,
.missing>.shameLabel {
	background: red;	
}

.editStateColor .mandatory>.shameLabel,
.annotationprofileeditor .editStateColor .editTabEditStateButtons .mandatory {
	background: #A68253;
}

.editStateColor .recommended>.shameLabel,
.annotationprofileeditor .editStateColor .editTabEditStateButtons .recommended {
	background: #BF9F73;
}

.editStateColor .optional>.shameLabel,
.annotationprofileeditor .editStateColor .editTabEditStateButtons .optional {
	background: #E1D9CD;
}
