<div>
    <div class="header distinctBackground" data-dojo-attach-point="_memberTabHeaderNode">
        <div class="userListChoices">
            <input type="radio" name="userListChoices" data-dojo-type="dijit/form/RadioButton" id="${id}-membersChoice" checked="true" data-dojo-attach-point="_membersChoiceDijit">&nbsp;
            <label for="${id}-membersChoice" data-dojo-attach-point="i18n">membersChoiceLabel</label>
            <input type="radio" name="userListChoices" data-dojo-type="dijit/form/RadioButton" id="${id}-nonMembersChoice" data-dojo-attach-point="_nonMembersChoiceDijit">&nbsp;
            <label for="${id}-nonMembersChoice" data-dojo-attach-point="i18n">nonMembersChoiceLabel</label>
            <input type="radio" name="userListChoices" data-dojo-type="dijit/form/RadioButton" id="${id}-allUsersChoice" data-dojo-attach-point="_allUsersChoiceDijit">&nbsp;
            <label for="${id}-allUsersChoice" data-dojo-attach-point="i18n">allUsersChoiceLabel</label>
        </div>
        <span data-dojo-attach-point="i18n">userSearchLabel</span>
        <div data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="_searchTermDijit" class="userSearchBox" data-dojo-attach-event="onChange: _updateSearchTerm" data-dojo-props="intermediateChanges: true, invalidMessage: 'Search string is too short', promptMessage: 'Use at least 3 characters to filter.'"></div>
    </div>
    <div class="contentBottom">
        <div data-dojo-attach-point="_scrollBoxNode">
            <div data-dojo-attach-point="_memberListNode"></div>
            <div data-dojo-attach-point="i18n,_loadingMessage" class="distinctBackground userListMessage">memberLoadingListMessage</div>
        </div>
    </div>
</div>