.confolio.settings {
	position: relative;
}

.confolio.settings .settingsTop {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
}

.confolio.settings .settingsOutline {
	position: absolute;
	top: 112px;
	bottom: 10px;
	left: 0px;
	width: 150px;
	padding: 20px 0px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.confolio.settings .settingsOutline ul {
	padding: 15px 0px;
	margin: 0px;
	list-style: none;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

.confolio.settings .settingsOutline ul li {
	list-style: none;
	line-height: 20px;
	padding: 0px 15px;
    padding: 3px 15px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    display: block;
}

.confolio.settings .settingsOutline ul li:hover {
	text-decoration: none;
	background-color: lightgrey;
	color: #005580;
    cursor: pointer;
}

.confolio.settings .settingsCenter {
	position: absolute;
	top: 112px;
	bottom: 10px;
	left: 160px;
	right: 0px;	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.confolio.settings .settingsOutline ul li.selected {
	background: #FAFAD2;
}

.confolio.settings .passwordRow label {
	width: 10em;
	display: inline-block;
}

.confolio.settings .passwordProblem {
	color: red;
	display: inline-block;
	margin-left: 2em;
}
/*=========Account=============*/
.confolio.settings .principalIsGroup .userStuff {
    display: none;
}
.confolio.settings .groupStuff {
    display: none;
}
.confolio.settings .principalIsGroup .groupStuff {
    display: block;
}

.confolio.settings .accountContainer {
	height: 100%;
	overflow-y: auto; 
}

.confolio.settings .settingsBlock:first-child {
	margin-top: 0px;
}

.confolio.settings .settingsBlock {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 10px 10px 10px 40px;
	position: relative;
	margin-top: 10px;
}

.confolio.settings .settingsSave {
	position: absolute;
	right: 10px;
	bottom: 3px;
}

.confolio.settings h4:first-child, .confolio.settings .headingRow:first-child {
	margin-top: 0px;
}

.confolio.settings .headingRow {
	margin-left: -20px;
	margin-bottom: 5px;
	margin-top: 10px;
}
.confolio.settings h4 {
	margin-left: -20px;
	font-weight: bold;
	margin-bottom: 5px;
	margin-top: 10px;
}

.confolio.settings .fullNameRow {
	color: grey;
}

.confolio.settings .wideInput {
	width: 300px;
}

.confolio.settings .fullNameRow span {
	font-weight: bold;
}

.confolio.settings .localProfilePictureLabel {
	width: 24em;
	display: inline-block;
}

.confolio.settings .urlProfilePicture {
	width: 23em;
	margin-right: 1em;
}

.confolio.settings .profilepicture {
	position: relative;
	height: 120px;
}

.confolio.settings .column1 {
	position: absolute;
	top: 10px;
	left: 37px;
	right: 116px;
}

.confolio.settings .column2 {
	position: absolute;
	top: 10px;
	width: 86px;
	right: 10px;
	bottom: 0px;
}

.confolio.settings .dijitButton .dijitButtonNode {
	min-width: 77px;
}

/* ======Memberlist=====================================*/
.confolio.settings .userListChoices {
    float: right;
}
.confolio.settings .userListChoices label {
    margin-right: 10px;
}
.confolio.settings .userSearchBox {
    width: 15em;
    margin-left: 1em;
}

.confolio.settings .userListMessage {
    padding: 6px 10px;
    text-align: center;
    -webkit-borde-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.distinctBackground.member.card {
    background: #b2ee9b;
}

.distinctBackground.member.card:hover {
    background: #5beb71;
}

.distinctBackground.member.card:hover .navIcons {
    background: #5beb71;
}

.distinctBackground.owner.card {
    background: #ebee8d;
}

.distinctBackground.owner.card:hover {
    background: #eed700;
}

.distinctBackground.owner.card:hover .navIcons {
    background: #eed700;
}

/* ======Could perhaps be made into generic css ========*/
.confolio.settings .container {
	position: relative;
	height: 100%;
}

.confolio.settings .contentTop,
.confolio.settings .contentBottom {
    position: absolute;
    left: 0px;
    right: 0px;
    padding: 10px;
    -webkit-borde-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.confolio.settings .contentTop>*,
.confolio.settings .contentBottom>*{
    overflow: auto;
    height: 100%;
}

.confolio.settings .contentTop {
	top: 0px;
	bottom: 45px;
}

.confolio.settings .contentBottom {
    top: 45px;
    bottom: 0px;
}

.confolio.settings .footer,
.confolio.settings .header {
	position: absolute;
	left: 0px;
	right: 0px;
    padding: 6px 10px;
	-webkit-borde-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.confolio.settings .footer {
    bottom: 0px;
    height: 23px;
}

.confolio.settings .header {
    top: 0px;
    height: 23px;
}

.confolio.settings .footer .button {
	float: right;
	margin-top: 5px;
	margin-right: 15px;
}