<div class="siteMap" tabindex="0">
	<div class='viewControllerWrapper'>
		<div class='viewController'>
			<div class='inline' dojoAttachPoint='controlNode'></div>
		</div>
	</div>
	<div class='viewMapWrapper'>
		<div class='viewMap widescreen'>
			<div data-dojo-attach-point='viewNode' style='height: 100%'></div>
		</div>
	</div>
</div>