<div style="overflow: hidden" class="confolio userProfile">
	<div class="profile_top distinctBackground" data-dojo-type="folio/navigation/PrincipalInfo" data-dojo-attach-point="principalInfoDijit" data-dojo-props="view:'profile'"></div>
	<div class="profile_left">
		<div style="position:relative;height: 100%">
			<div class="profile_left_buttons">
				<button style="display: none" dojoAttachPoint="membersButtonNode">Members</button>
				<button style="display: none" dojoAttachPoint="communitiesButtonNode">Communities</button>
				<button dojoAttachPoint="foldersButtonNode">Folders</button>
			</div>
			<div class="profile_left_content" style="display: none" dojoAttachPoint="membersNode"></div>
			<div class="profile_left_content" style="display: none" dojoAttachPoint="communitiesNode"></div>
			<div class="profile_left_content" style="display: none" dojoAttachPoint="foldersNode"></div>
		</div>
	</div>
	<div class="profile_right">
		<div style="position:relative;;height: 100%">
			<div class="profile_right_buttons">
				<button dojoAttachPoint="featuredButtonNode">Featured material</button>
				<button dojoAttachPoint="recentButtonNode" class="selected">Recent material</button>
			</div>
			<div class="profile_right_content" style="display: none" dojoAttachPoint="featuredNode">
				<div dojoAttachPoint="noFeaturedMaterial" style="display: none">No featured material to show.</div>
					<div dojoType="folio.list.List" headLess="true" controlsLess="true" detailsLink="true" 
						openFolderLink="true" publishFocusEvents="false" dojoAttachPoint="featuredList"></div>
			</div>
			<div class="profile_right_content" dojoAttachPoint="recentNode">
				<div dojoType="folio.list.SearchList" dojoAttachPoint="recentSearchList"></div>
			</div>
		</div>
	</div>
</div>